<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta  name="viewport" content="width=device-width", initial-scale="1.0" />
    <title>Ameccy | Street Fashion</title>
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <!----------------------------navbar---------------------------------------->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html">
                        <img src="../img/ameccy_pics/DFE358CD-F34D-4C9A-8D22-3F1F08C2CDDD.png" width="200" alt="logo" />
                    </a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="index.cshtml">Home</a></li>
                        <li><a href="products.cshtml">Product</a></li>
                        <li><a href="about.cshtml">About</a></li>
                        <li><a href="contact.cshtml">Contact</a></li>
                        <li><a href="account.cshtml">Account</a></li>
                    </ul>
                </nav>
                <a href="cart.html">
                    <img src="../img/cart.png" width="30" height="30" alt="cart" />
                </a>
                <img src="../img/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
            <div class="row">
                <div class="col-2">
                    <div>
                        <h1>Embrace Your New Look<br />A New Style</h1>
                        <p>
                            Success isn't always about greatness. It's about
                            consistency. Consistent<br /> hard work gains success. Greatness
                            will come.
                        </p>
                        <a href="#" class="btn">Explore Now &#8594;</a>
                    </div>
                  
                </div>
                <div class="col-2">
                    <img id="amec_01"src="../img/ameccy_pics/IMG_6866.PNG" height="800"/>
                </div>
            </div>
        </div>
    </div>

    <!--------- featured categories ---------------->
    <div class="categories">

        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="../img/ameccy_pics/8ADE8867-7929-4156-9806-22D4A66B0133.jpeg" height="350" />
                </div>
                <div class="col-3">
                    <img src="../img/ameccy_pics/IMG_6902.PNG" height="350" width="270"/>
                </div>
                <div class="col-3">
                    <img src="../img/ameccy_pics/IMG_6903.PNG" height="350" />
                </div>
            </div>
        </div>
    </div>

    <!--------- featured products ---------------->
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="product-details.html">
                    <img src="../img/ameccy_pics/IMG_6848.PNG" height="350" />
                </a>
                <a href="product-details.html">
                    <h4>Red Printed Tshirt</h4>
                </a>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6854.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6855.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6858.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6843.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6851.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6853.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-star-half-alt fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6860.PNG" height="350"/>
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6867.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6868.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6869.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6870.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
    </div>
    <!-------- offer ------------>
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="../img/ameccy_pics/IMG_6865.PNG" height="700" />
                </div>
                <div class="col-2">
                    <p>Exclusively Available on Ameccy</p>
                    <h1>Seattle Drip Kit</h1>
                    <small>
                        Amec Lujuan although born and raised from the bay area, he now calls the greater Seattle area home.
                        He now finds passion watching football amongst close friends.
                    </small>
                    <br />
                    <a href="#" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>
    <!--testimonial-->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-quote-left"></i>
                    <p>I absolutely love his style.</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <img src="../img/user-1.png" />
                    <h3>Lauren Wilder</h3>
                </div>
                <div class="col-3">
                    <i class="fas fa-quote-left"></i>
                    <p>Ameccy is my goto for drip</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <img src="../img/user-2.png" />
                    <h3>Diego Rodriguez</h3>
                </div>
                <div class="col-3">
                    <i class="fas fa-quote-left"></i>
                    <p>Shopping here is amazing!</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <img src="../img/user-3.png" />
                    <h3>Akimi Johnson</h3>
                </div>
            </div>
        </div>
    </div>
    <!------------brands---------------->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="../img/logo-godrej.png" />
                </div>
                <div class="col-5">
                    <img src="../img/logo-oppo.png" />
                </div>
                <div class="col-5">
                    <img src="../img/logo-coca-cola.png" />
                </div>
                <div class="col-5">
                    <img src="../img/logo-paypal.png" />
                </div>
                <div class="col-5">
                    <img src="../img/logo-philips.png" />
                </div>
            </div>
        </div>
    </div>
    <!----------------footer------------------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios devices.</p>
                    <div class="app-logo">
                        <img src="../img/play-store.png" />
                        <img src="../img/app-store.png" />
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="../img/ameccy_pics/DFE358CD-F34D-4C9A-8D22-3F1F08C2CDDD.png" width="200" alt="logo" />
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebbok</li>
                        <li>Twitter</li>
                        <li><a href="https://www.instagram.com/sosickvtg/">Instagram</a></li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
            <hr />
            <p class="copyright">Copyright 2020 - Ameccy</p>
        </div>
    </div>
    <!-------------------------js for toggle menu--------------------------------->
    <script>
        var MenuItems = document.getElementById("MenuItems")

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight == "200px";
            }
            else {
                MenuItems.style.maxHeight == "0px";
            }
        }
    </script>
</body>
</html>