<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>Ameccy | Street Fashion</title>
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <!----------------------------navbar---------------------------------------->
    <div class="navbar">
        <div class="logo">
            <a href="index.html">
                <img src="../img/ameccy_pics/DFE358CD-F34D-4C9A-8D22-3F1F08C2CDDD.png" width="200" alt="logo" />
            </a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="index.cshtml">Home</a></li>
                <li><a href="products.cshtml">Product</a></li>
                <li><a href="about.cshtml">About</a></li>
                <li><a href="contact.cshtml">Contact</a></li>
                <li><a href="account.cshtml">Account</a></li>
            </ul>
        </nav>
        <a href="cart.html">
            <img src="../img/cart.png" width="30" height="30" alt="cart" />

        </a>
        <img src="../img/menu.png" class="menu-icon" onclick="menutoggle()" />
    </div>

    <!--single product details-->

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="../img/gallery-1.jpg" width="450" id="ProductImg" />
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="../img/gallery-1.jpg" width="450"
                             class="small-img" />
                    </div>
                    <div class="small-img-col">
                        <img src="../img/gallery-2.jpg" width="450"
                             class="small-img" />
                    </div>
                    <div class="small-img-col">
                        <img src="../img/gallery-3.jpg" width="450"
                             class="small-img" />
                    </div>
                    <div class="small-img-col">
                        <img src="../img/gallery-4.jpg" width="450"
                             class="small-img" />
                    </div>
                </div>
            </div>

            <div class="col-2">
                <p>Home / T-shirt</p>
                <h1>Red printed T shirt by HRX</h1>
                <h4>$50.00</h4>
                <select>
                    <option>Select Size</option>
                    <option>XXL</option>
                    <option>XL</option>
                    <option>Large</option>
                    <option>Medium</option>
                    <option>Small</option>
                </select>
                <input type="number" value="1" />
                <a href="" class="btn">Add to Cart</a>
                <h3>Product Details</h3>
                <p>
                    Psfsdfsjdfsdfslfjbsdjfbskdjfbsjrgbsdsdjs.dsgdgssdg
                    sdgdgsdggsdsdgsgs
                </p>
            </div>
        </div>
    </div>

    <!---------------title---------------------->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View more</p>
        </div>
    </div>

    <!---------------products----------------------->
    <div class="small-container">

        <div class="row">
            <div class="col-4">
                <img src="../img/product-9.jpg" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/product-10.jpg" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/product-11.jpg" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/product-12.jpg" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>

    </div>


    <!----------------footer------------------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios devices.</p>
                    <div class="app-logo">
                        <img src="../img/play-store.png" />
                        <img src="../img/app-store.png" />
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="../img/ameccy_pics/DFE358CD-F34D-4C9A-8D22-3F1F08C2CDDD.png" width="200" alt="logo" />
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebbok</li>
                        <li>Twitter</li>
                        <li><a href="https://www.instagram.com/sosickvtg/">Instagram</a></li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
            <hr />
            <p class="copyright">Copyright 2020 - Ameccy</p>
        </div>
    </div>
    <!-------------------------js for toggle menu--------------------------------->
    <script>
        var MenuItems = document.getElementById("MenuItems")

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight == "200px";
            }
            else {
                MenuItems.style.maxHeight == "0px";
            }
        }
    </script>

    <!--------------------js for prodcut gallery------------------->
    <script>
        var ProductImg = document.getElementById("ProductImg");
        var SmallImg = document.getElementById("small-img");

        SmallImg[0].onclick = function () {
            ProductImg.src = SmallImg[0].src;
        }

        SmallImg[1].onclick = function () {
            ProductImg.src = SmallImg[1].src;
        }

        SmallImg[2].onclick = function () {
            ProductImg.src = SmallImg[2].src;
        }

        SmallImg[3].onclick = function () {
            ProductImg.src = SmallImg[3].src;
        }
    </script>
</body>
</html>