<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>Ameccy | Street Fashion</title>
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>  
    <!----------------------------navbar---------------------------------------->
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index.html">
                    <img src="../img/ameccy_pics/DFE358CD-F34D-4C9A-8D22-3F1F08C2CDDD.png" width="150" alt="logo" />
                </a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index.cshtml">Home</a></li>
                    <li><a href="products.cshtml">Product</a></li>
                    <li><a href="about.cshtml">About</a></li>
                    <li><a href="contact.cshtml">Contact</a></li>
                    <li><a href="account.cshtml">Account</a></li>
                </ul>
            </nav>
            <a href="cart.html">
                <img src="../img/cart.png" width="30" height="30" alt="cart" />

            </a>
            <img src="../img/menu.png" class="menu-icon" onclick="menutoggle()" />
        </div>
    </div>

    <!--------------------------showing all products----------------------------------->

    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sorting</option>
                <option>Sort by price</option>
                <option>Sory by popularity</option>
                <option>Sory by rating</option>
                <option>Sory by sale</option>
            </select>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6843.PNG" height="350"/>
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6848.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6851.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6854.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6855.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6856.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6858.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-star-half-alt fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6860.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6867.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6868.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6869.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../img/ameccy_pics/IMG_6870.PNG" height="350" />
                <h4>Red Printed Tshirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>

        </div>
    </div>


    <!----------------footer------------------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios devices.</p>
                    <div class="app-logo">
                        <img src="../img/play-store.png" />
                        <img src="../img/app-store.png" />
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="../img/ameccy_pics/DFE358CD-F34D-4C9A-8D22-3F1F08C2CDDD.png" width="200" alt="logo" />
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebbok</li>
                        <li>Twitter</li>
                        <li><a href="https://www.instagram.com/sosickvtg/">Instagram</a></li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
            <hr />
            <p class="copyright">Copyright 2020 - Ameccy</p>
        </div>
    </div>
    <!-------------------------js for toggle menu--------------------------------->
    <script>
        var MenuItems = document.getElementById("MenuItems")

        MenuItems.style.maxHeight = "0px";

        function menutoggle()
        {
            if (MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight == "200px";
            }
            else
            {
                MenuItems.style.maxHeight == "0px";
            }
        }
    </script>
</body>
</html>